* {
    color: white;
    font-family: 'Cinzel Decorative';
}

body {
    background-color: rgba(0, 0, 0, 0.888);
}

nav {
    color: white;
}

/* Contact Page--------------------------------------------------------------------------------------------------------------------------------------------------------*/

.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.contact-child {
    flex: 1;
    margin: auto;
}

@media (min-width: 600px) {
    .contact-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        
    }

    .contact-child {
        flex: 1;
        margin: auto;
    }

    .contact-child map {
        width: 100%;
    }
}

/* Service Page--------------------------------------------------------------------------------------------------------------------------------------------------------*/

/* Barbers Page--------------------------------------------------------------------------------------------------------------------------------------------------------*/

.barber {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.barber-header {
    text-align: center;
}

.barber figcaption {
    text-align: center;
    font-weight: bold;
}

.barber figure {
    width: 50%;
    height: 50%
}

.barber img {
    width: 100%;
    height: auto;
}

.barber p {
    text-align: center;
    width: 75%;
}